.header {
  /* margin-bottom: 18px; */
  width: 100%;
  padding: 10px ;
  background-color: #fec18b; /* Cyan background color */
  color: #ff6600; /* White text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* box-shadow:rgba(0, 0, 0, 1); */
  /* shadow */
  /* font-size: rem; */
}



.brand {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 10px 10px;
}

/* Navigation styles */
.nav {
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    display: flex;
    ;
  }

  .nav-link {
    color: #ff0000; /* White text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition effect */
    padding: 10px 10px 10px 10px;
    position: fixed;
  }

  .nav-link1 {
    color: #ff0000; /* White text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition effect */
    padding: 10px 10px 10px 10px;
    position: relative;
  }

  .nav-link2 {
    color: #ff0000; /* White text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition effect */
    padding: 10px 10px 10px 10px;
    position: relative;
  }
  .nav-link:hover {
    color: transparent;
  }
  .nav-link1:hover {
    color: transparent; /* Orange text color on hover */
  }
  .nav-link2:hover {
    color: transparent; /* Orange text color on hover */
  }

  .nav-link:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("D:\edproject\react\eazy\src\images\clock.png") no-repeat;
    width: 35px; /* Adjust the width of the logo */
    height: 35px; /* Adjust the height of the logo */
    background-size: cover;
  }
  .nav-link1:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("D:\edproject\react\eazy\src\images\phone.png") no-repeat;
    width: 35px; /* Adjust the width of the logo */
    height: 35px; /* Adjust the height of the logo */
    background-size: cover;
  }
  .nav-link2:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("D:\edproject\react\eazy\src\images\log.png") no-repeat;
    width: 35px; /* Adjust the width of the logo */
    height: 35px; /* Adjust the height of the logo */
    background-size: cover;
  }
  .tab-btn {
    background-color: transparent;
    border: none;
    color: #ffffff; /* White text color */
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition effect */
  }

  .tab-btn:hover {
    color: #ff8800; /* Orange text color on hover */
  }
}